= render "/partial/navi"

/ Services
%section#services.page-section
  .container
    .text-center
      %h2.section-heading.text-uppercase このアプリで出来ること
      %h3.section-subheading.text-muted 家事を「クエスト」として任せることで、お子さんに楽しく家事を手伝ってもらえます♪
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fas.fa-circle.fa-stack-2x.text-primary
          %i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
        %h4.my-3 ①任せたいクエストを選ぼう！
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fas.fa-circle.fa-stack-2x.text-primary
          %i.fas.fa-laptop.fa-stack-1x.fa-inverse
        %h4.my-3 ②クエストの報酬を決めよう！
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fas.fa-circle.fa-stack-2x.text-primary
          %i.fas.fa-lock.fa-stack-1x.fa-inverse
        %h4.my-3 ③お子さんにクエストを選んでもらおう！
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.



