= render "/partial/navi"

%section#portfolio.page-section.bg-light
  .container
    .text-center
      %h2.section-heading.text-uppercase きょうのクエスト
      %h3.section-subheading.text-muted 好きなお手伝いを選んでね♪
      %br/
      %br/
      %br/
      %br/
      
    .row
    .col-lg-4.col-sm-6.mb-4
      .portfolio-item
        %a.portfolio-link
          .portfolio-hover
            .portfolio-hover-content
              %i.fas.fa-plus.fa-3x
          %img.img-1{alt: "", src: "/house_work/osouji.png"}/
        .portfolio-caption
          .portfolio-caption-heading
            %span.name おそうじ
          .portfolio-caption-subheading.text-muted
            %span.name 100円
            %br/
            %button.button1 クエストクリア！

    .col-lg-4.col-sm-6.mb-4
      .portfolio-item
        %a.portfolio-link
          .portfolio-hover
            .portfolio-hover-content
              %i.fas.fa-plus.fa-3x
          %img.img-2{alt: "", src: "/house_work/araimono.png"}/
        .portfolio-caption
          .portfolio-caption-heading
            %span.name あらいもの
          .portfolio-caption-subheading.text-muted
            %span.name 100円
            %br/
            %button.button2 クエストクリア！

    .col-lg-4.col-sm-6.mb-4
      .portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fas.fa-plus.fa-3x
          %img.img-3{alt: "", src: "/house_work/osarafuki.png"}/
        .portfolio-caption
          .portfolio-caption-heading
            %span.name お皿ふき
          .portfolio-caption-subheading.text-muted
            %span.name 100円
            %br/
            %button.button3 クエストクリア！

    .col-lg-4.col-sm-6.mb-4
      .portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fas.fa-plus.fa-3x
          %img.img-4{alt: "", src: "/house_work/ofurosouji.png"}/
        .portfolio-caption
          .portfolio-caption-heading
            %span.name おふろそうじ
          .portfolio-caption-subheading.text-muted
            %span.name 100円
            %br/
            %button.button4 クエストクリア！

    .col-lg-4.col-sm-6.mb-4
      .portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fas.fa-plus.fa-3x
          %img.img-5{alt: "", src: "/house_work/kataduke.png"}/
        .portfolio-caption
          .portfolio-caption-heading
            %span.name お片づけ
          .portfolio-caption-subheading.text-muted
            %span.name 100円
            %br/
            %button.button5 クエストクリア！

    .col-lg-4.col-sm-6.mb-4
      .portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fas.fa-plus.fa-3x
          %img.img-6{alt: "", src: "/house_work/kata.png"}/
        .portfolio-caption
          .portfolio-caption-heading
            %span.name 肩たたき
          .portfolio-caption-subheading.text-muted
            %span.name 100円
            %br/
            %button.button6 クエストクリア！

    .col-lg-4.col-sm-6.mb-4
      - @quests.each do |quest|
        .portfolio-item
          %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
            .portfolio-hover
              .portfolio-hover-content
                %i.fas.fa-plus.fa-3x
            %img.img-shinki{alt: "", src: "/house_work/osouji.png"}/
          .portfolio-caption
            .portfolio-caption-heading
              %span.name= quest.name
            .portfolio-caption-subheading.text-muted
              %span.name= quest.price
              %br/
              %button.button-shinki クエストクリア！




    

