.img-1 {
  max-width: 100%;
  height: auto;
}
.img-2 {
  max-width: 100%;
  height: auto;
}
.img-3 {
  max-width: 100%;
  height: auto;
}
.img-4 {
  max-width: 100%;
  height: auto;
}
.img-5 {
  max-width: 100%;
  height: auto;
}

.img-6 {
  max-width: 100%;
  height: auto;
}

.img-7 {
  max-width: 100%;
  height: auto;
}

.img-shinki {
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

button:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

.main-quest{
  
}