
.sign-in-wrapper{
  background-color: #F5F5F5;
  font-size: 14px;
  height: 100vh;

  .sign-in-content{
    align-items: center;

    &__head{
      background-color:white;
      width: 486px;
      height: 170px;
      padding: 16px;
      line-height:63px;
      text-align:center;
      margin: 0 auto;

      &__title{
        padding-top: 10px;
        margin-top: 60px;
      }

      &__text{
        font-size: 15px;
      }
      
      &__actions{
        background-color: #ED6647;
        height: 50px;
        width: 350px;
        color: white;
        margin: 0 auto;
        line-height: 50px;

        a:visited {
          text-decoration:none; 
          color: white;
        }

      }
    }
    &__main{
      font-size: 16px;
      margin-bottom: 40px;

      &__form {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 488px;
        margin:0 auto ;
        border: solid 1px #F5F5F5;
        
        &__group{
          padding: 0 182px;

          &__mail{
            height: 50px;
            width: 350px;
            margin:70px 0 0 0;
          }
          &__pass{
            height: 50px;
            width: 350px;
          }
        }

        &__actions{
          margin:25px 0;
          text-align:center;

          &__button{
            background-color: #ED6647;
            height: 50px;
            width: 350px;
            color: white;
          }
        }
        &__forget{
          margin:0 185px;
          padding:0 0 30px 0;
        }
      }
    }

  }
}